[2015-09-15 09:20] Flink opened #10 "1.0 release"
This plugin should be considered as ready for a 1.0 release.

[2015-09-17 10:47] ohardy opened #15 "Can't destroy <name>"
[code]

So i removing folder by hand :
[code]

Creating again doesn't work :
[code]

[2015-09-17 11:00] josegonzalez commented on #15
I think you may have manually stopped the container before attempting to destroy it. If so, you're going to have to manually remove the docker container.

[2015-09-17 11:53] ohardy commented on #15
I didn't

[2015-09-23 17:03] johnfraney opened #20 "Error on `redis:link`: Could not get container for dokku.postgres.redis"
I may be missing a configuration step, but after creating a redis container (`redis`) and trying to link it to an application via `redis:link`, I get the following error, where `my-app` is a Django app linked to a `dokku-postgres` PostgreSQL container:

[code]

After adding that `PASSWORD` manually, I get the following error instead:

[code]

Docker: 1.8.2
Dokku: 0.4.0
Ubuntu: 14.04.3

[2015-09-23 17:34] josegonzalez commented on #20
That is odd, we don't use a `PASSWORD` file in `dokku-redis`. Can you remove that file and do the following:

[code]

And gist the logs? As well, what other plugins are you using?

[2015-09-23 18:00] johnfraney commented on #20
I'll have to change my scrollback settings to see the whole output, but here's [a gist with the majority of the output from that command](https://gist.github.com/johnfraney/d0b85c272d744206e7dd).

I just updated `dokku`. I've got the `dokku-postgres` plugin installed, but that's the only one that's active apart from `dokku-redis`, I believe

[2015-09-23 18:05] josegonzalez commented on #20
@Flink Do you think that maybe the two `service_url` definitions are not being called properly? Looks like the `service_url` command for postgres is being called here for the redis app.

[2015-09-23 18:12] josegonzalez commented on #20
@johnfraney can you do the following for me? In the `postgres` and `redis` plugins, you will have a `config` file. Can you swap out their contents for the following and then retry the unlink/link and paste the output logs?

---

*postgres/config*

[code]

---

*redis/config*

[code]

[2015-09-23 18:26] johnfraney commented on #20
@josegonzalez Changing those files did the trick. [Here's the `DOKKU_TRACE` output](https://gist.github.com/johnfraney/e09e97328543b645b765)

[2015-09-23 18:30] josegonzalez commented on #20
Awesome, sounds like a partial bug in the official datastores. I'll get that fixed up, thanks for hanging in there with the bug reporting :)

[2015-09-23 18:46] johnfraney commented on #20
Happy to help! Thanks for dokku, it's awesome! I'm really happy to see these official plugins, now too.

[2015-09-23 18:46] #20 closed

[2015-09-23 19:12] josegonzalez commented on #20
And it's been fixed in all official datastores. Thanks again!

[2015-09-24 01:50] johnfraney opened #22 "Missing environment variables?"
After successfully linking a redis container to my app (`dokku redis:link redis my-app`), the environment variables mentioned in the README do not appear to be added to my app (not in `dokku:config my-app` or in my app's `.env` file). (I noticed that `dokku-postgres` also didn't set the environment variables.)

Is there an extra configuration step I'm missing? Running `dokku redis:info redis` retu

[2015-09-24 04:06] sekjun9878 commented on #22
I belive that the connection environmental variables are by Docker's linking system itself, so they are set at runtime - not in any configuration file. Have you tried to actually access the environment variable from the application itself?

[2015-09-24 04:35] johnfraney commented on #22
Ah, I missed that in the README. Would it be possible to show these in `dokku config my-app`, or are they visible elsewhere?

[2015-09-24 08:20] Flink commented on #22
You can view all env vars by using the `env` command inside the container (via `dokku run` for instance).
I’m currently working on a solution to use `config` to manage those vars but I can’t promise anything.

[2015-09-24 12:15] johnfraney commented on #22
@Flink Thanks for the clarification!

[2015-09-24 12:15] #22 closed

[2015-09-27 22:23] josegonzalez commented on #15
Can you replicate this with latest master?

[2015-09-28 11:14] ohardy commented on #15
Yep ;) :

[code]

[2015-09-28 15:37] josegonzalez commented on #15
Wtf. Can you run that with `dokku trace on`?

[2015-10-02 11:57] sekjun9878 opened #26 "Redis daemon configurations?"
Hello,

Is there any way to configure the Redis daemon's configuration file?

https://github.com/sekjun9878/dokku-redis-plugin/issues/33

Or should I implement one?

[2015-10-02 14:48] josegonzalez commented on #26
The `/usr/local/etc/redis`directory is mounted into `/var/lib/dokku/services/redis/SERVICE_NAME/config`. You can stop your container, modify the config, and start it again.

[2015-10-12 19:42] josegonzalez commented on #26
Closing as there hasn't been any response.

[2015-10-12 19:42] #26 closed

[2015-10-18 22:46] blopker opened #30 "Document how to configure Redis"
Hey, this plugin is working great, but I need to set up Redis as an LRU cache.

Is there an easy way to tell the plugin what config to use? Maybe through a environment variable?

Also the plugin doesn't seem to pull down the latest image on install. `docker pull redis` fixes that though.

[2015-10-18 22:48] blopker commented on #30
Shoot, I just saw #26. That will work, but it would still be nice to set the path to a config through an env variable.

[2015-10-18 22:55] josegonzalez commented on #30
@blopker what do you mean by the config path?

[2015-10-18 23:02] blopker commented on #30
Ah, sorry. The Redis image says you can supply your own `redis.conf` file with something like:
[code]
I haven't looked at how docker is actually run, but being able to set `redis.conf` from a file located on the host machine would be nice. Something like:
[code]

[2015-10-18 23:30] josegonzalez commented on #30
We simply mount that directory in our own config dir. While allowing a user to specify that file on their own seems nice, it complicates stuff like backups etc. (where is my redis.conf omg). I think we're going to leave it where it is, since you can already configure it well enough from there.

[2015-10-19 02:18] blopker commented on #30
Fair enough. Since there were two issues about this already, would you mind putting conf instructions in the readme?

[2015-10-19 04:06] josegonzalez commented on #30
Reopening issue so this sort of stuff can be documented everywhere.

[2015-10-19 04:10] blopker commented on #30
Fixed the title for you :)

[2015-10-19 04:10] josegonzalez commented on #30
<3

[2015-10-27 01:58] josegonzalez commented on #15
Closing as I'm pretty sure this was fixed.

[2015-10-27 01:58] #15 closed

[2015-10-27 17:38] blopker commented on #30
Did that commit add to the docs or just bump the version of Redis?

[2015-10-27 19:14] josegonzalez commented on #30
Sorry, it just bumped redis version. I'll take a look at docs soon.

[2016-01-19 02:18] dhruvio commented on #26
I have added a `redis.conf` to `/var/lib/dokku/services/redis/$SERVICE_NAME/config`, but when I look at the service's redis logs after restarting, it has not detected a config file. Thoughts @josegonzalez ?

[2016-01-19 02:27] dhruvio commented on #30
Just saw this — I've already commented on #26, but I will reiterate my question here:

I have added a `redis.conf` to `/var/lib/dokku/services/redis/$SERVICE_NAME/config`, but when I look at the service's redis logs after restarting, it has not detected a config file. Thoughts?

Looking at docker's official redis image [documentation](https://hub.docker.com/_/redis/), you need to specify the conf

[2016-01-19 02:40] dhruvio commented on #30
Here's the output from `docker inspect $CONTAINER_ID`, where contianer ID is the output of `/var/lib/dokku/services/redis/$SERVICE_NAME/ID`:

https://gist.github.com/dhruvio/63cf43b1eb222fa75879

As you can see, the `cmd` property is just `redis-server` without specifying the custom `redis.conf` file.

[2016-01-19 16:11] josegonzalez commented on #30
Can you mount a single file? If not, I'm not sure what the best fix is here if they default to using `/etc/redis.conf`. I assume using that will break the image.

[2016-01-24 08:17] dhruvio commented on #30
Yeah, I think the solution will be to, by default, include the standard redis.conf file in the `/var/lib/dokku/services/redis/$SERVICE_NAME/config` directory. Then, instead of running the vanilla docker redis container as-is, we run a custom Dockerfile that pulls from the official redis image, except the executing command is `redis-server /usr/local/etc/redis/redis.conf` instead of just `redis-ser

[2016-01-24 08:57] dhruvio commented on #30
I have found a simpler solution, and created a [pull request](https://github.com/dokku/dokku-redis/pull/39). I have not tested this locally, as I do not have a dev environment set up. Let me know if you think this is a good solution.

[2016-03-18 20:36] KayoticSully opened #41 "Clustering?"
Is there a known way to cluster redis servers on dokku?

Would this require a different plugin or could this one be modified to work in that way?

[2016-03-18 21:17] josegonzalez commented on #41
How would you cluster redis servers outside of dokku?

[2016-03-19 02:38] KayoticSully commented on #41
Normally you would run the cluster creation tool using redistrib.rb. From the repository. You can probably do it by hand too but all the servers need to have connectivity to each other and to the clients.  I just have not been able to figure out a "good way" to do this with docker that works well with dokku.  Can I link service containers together?  And temporarily pass the ports through to the ho

[2016-03-22 11:27] Epigene opened #42 "Question: How to change redis port?"
How do I specify a custom port for redis to run on?

I have tried using the REDIS_CUSTOM_ENV variable to no avail.

[code]

I am trying to mirror redis access locally via `redis://localhost:6392`. I guess I'd be fine with changes in the host part to `redis://dokku-redis-myapp:6392`

[2016-03-22 19:31] josegonzalez commented on #42
Your local mirror's port has nothing to do with this service's port.

[2016-03-23 08:43] Epigene commented on #42
There has been a misunderstanding.

I need to load a redis instance for resque. I normally achieve this with two pieces of code:

1. a yaml file of redis locations for each environment

[code]

2. an initializer that reads the yml file and sets up a redis instance for resque

[code]

So my question is, how can I configure the host/port of redis I link to myapp, so that I can use

[code]

__NB__, I

[2016-03-23 19:06] josegonzalez commented on #42
I'm confused as to what you're trying to do. Can you reach out via [slack/irc](http://dokku.viewdocs.io/dokku/getting-started/where-to-get-help/)?

[2016-03-24 21:24] erikschlegel opened #43 "How to configure the redis plugin to run a custom docker image for the install"
I have a custom image thats using the redis release candidate version 3.2, which supports geospatial indexes. How do I configure the redis plugin to use a different image not included in the https://hub.docker.com/r/library/redis/tags/ ? Tried changing the REDIS_IMAGE_VERSION and REDIS_IMAGE vars but I received a Redis image x:y not found'.

All the best,

Erik

[2016-03-24 21:28] josegonzalez commented on #43
What did you set those values to, and what was *the exact* message?

You will also need to pull that image down.

[2016-03-24 22:52] erikschlegel commented on #43
thanks for the response. I'm setting the 2 variables to the following. Just an FYI, I'm still learning the ropes to both redis and dokku.

export REDIS_IMAGE="erikschlegel/redis-rc"
export REDIS_IMAGE_VERSION="3.2.0"

When I try and create a new redis service I receive the following statement.

dokku redis:create guidedogs-cache-service

  % Total    % Received % Xferd  Average Speed   Time    Tim

[2016-03-24 23:02] josegonzalez commented on #43
Does your image work in the same fashion as the official redis image? If not, then the waiting section may fail.

[2016-03-24 23:56] erikschlegel commented on #43
It seems to start with no issues. I included in the output below.

dogmaster@DokkuVM:~/docker$ sudo docker run -t -i erikschlegel/redis-rc:3.2.0
1:C 24 Mar 22:44:40.773 # Warning: no config file specified, using the default config. In order to specify a config file use redis-server /path/to/redis.conf
                _._
           _.-``__ ''-._
      _.-``    `.  `_.  ''-._           Redis 3.1.10

[2016-04-12 14:27] MikeSchroll opened #44 "Upgrade to 3.0.7 release"
3.0.7 was released Jan 28th 2016.

[2016-04-12 17:59] #44 closed

[2016-05-04 06:23] josegonzalez commented on #43
Did you ever get this sorted?

[2016-05-04 06:23] #42 closed

[2016-05-04 06:24] josegonzalez commented on #41
I think clustering is outside the scope of this plugin. If you want a more bullet-proof redis solution, I recommend that you lookin into using ElastiCache or some other redis provider.

[2016-05-04 06:24] #41 closed

[2016-05-05 13:47] sglebs opened #50 "Please do not append /0 in REDIS_URL"
Same arguments as in https://github.com/sekjun9878/dokku-redis-plugin/issues/25 :

Hi,

On heroku, REDIS_URL (say Open Redis) is never defined with the database number at the end (/0). This allows one to define sub-areas by just appending /N to REDIS_URL. Therefore, I would like to suggest that you no longer do this:

KEY="REDIS_URL"
VALUE="redis://redis:6379/0"

but instead do this:

KEY="REDIS_U

[2016-05-05 14:39] josegonzalez commented on #50
You can change your database in code. What stops you from doing that?

[2016-05-05 15:03] sglebs commented on #50
I have the following environment variables:

[code]

This code works fine under Heroku and with the Redis plugin from https://github.com/sekjun9878/dokku-redis-plugin/issues/25

You suggest I write custom code to work with this dokku plugin in an ad-hoc way. I humbly suggest that dokku should be fully compatible with Heroku, which seems to be the trend of the dokku project. To be truly fully compa

[2016-05-05 16:23] josegonzalez commented on #50
Mind making a PR for this?

[2016-05-06 01:15] sglebs commented on #50
sure: https://github.com/dokku/dokku-redis/pull/51

[2016-05-06 01:29] sglebs opened #52 "can't link or promote 2 redis into same app"
I have 2 micro services / REST apps  A and B, each with a REDIS (Ra and Rb) for caching. But it turns out that, beyond B having Rb, it also needs access to Ra  (the 2 apps interop via Python Celery using the shared Redis Ra/14). Unfortunately I can't redis:promote or redis:link Ra into B because promote and link assume the env var is REDIS_URL but B already has its own REDIS_URL, which I do not wa

[2016-05-08 20:10] #50 closed

[2016-05-09 23:55] sglebs opened #54 "unlink, link, promote: error"
[code]

[2016-05-10 01:19] josegonzalez commented on #54
Yeah, this is a bug with how the plugins work remotely via ssh. I'm actually working on this exact issue for all the plugins at the moment, and should be done by the end of the week. I believe it's fixed for the couchdb plugin already.

Will leave open until it's permanently fixed.

[2016-05-10 01:20] josegonzalez commented on #52
@Flink could this be done using aliasing somehow? Pretty sure you worked on this functionality.

[2016-05-10 10:19] sglebs commented on #54
so, a workaround is to ssh into the machine separately first and then issue the command?

[2016-05-10 10:22] sglebs commented on #54
I tried "vagrant ssh" first and then dokku commands, same issue:

[code]

[2016-05-10 11:02] sglebs commented on #52
I see that when I redis:link you automatically promote as REDIS_URL. If I could pass the env var name to redis:link, it would be awesome, as I could give semantically meaningful names. As a second option, also ok, would be for you to assume env var name "<service-name>_URL". So, if I named my redis service "redis-messenger-server", you could use env var name REDIS_MESSENGER_SERVER_URL. Perhaps thi

[2016-05-10 15:31] josegonzalez commented on #54
Can you run the following and gist the output:

[code]

[2016-05-10 15:32] josegonzalez commented on #52
Well if we link, we *should* be using an alias (`DOKKU_BLUE` etc.).

[2016-05-10 16:22] sglebs commented on #52
How about using as an alias  "[service-name]_URL"? It would make things really easy to automate via scripts. As is, it is generated/"random".

[2016-05-10 16:37] josegonzalez commented on #52
We're simply doing what heroku does here. Ideally you can provide an alias, but atm we just "default" to a given alias when you're already linked.

[2016-05-24 01:06] josegonzalez commented on #54
@sglebs ^

[2016-05-24 03:17] #43 closed

[2016-05-24 03:17] #10 closed

[2016-06-19 23:19] gabe-alex opened #58 "AUTH support"
There doesn't seem to be any support for an AUTH Password, which is pretty much a requirement if expose is used.

[2016-07-30 01:39] sglebs commented on #54
Sorry, I got no notification. Here's the output, after upgrading to 0.6.5 and reinstalling the redis plugin:

[code]

[code]

[2016-07-30 18:19] josegonzalez commented on #54
Can you paste the *entire* output of trace, not just the "relevant" bits?

[2016-07-30 23:43] sglebs commented on #54
It has a bunch of API KEYs, passwords etc from env vars. I will have to spend some time cleaning it up.

[2016-07-31 00:09] sglebs commented on #54
Ok, I think I replaced all confidential values:

[code]

[2016-07-31 00:17] sglebs opened #60 "How can I kill a zombie link?"
After a failed dokku upgrade from 0.3.x to 0.6.5 I had to manually rm installed plugins. Then I upgraded dokku successfully and reinstalled the redis plugin. I also created a new redis service. Unfortunately the old redis service previously linked when I was using 0.3.x seems to be causing problems. See:

[code]

[code]

My staging app is still down because of this. Is there a way to safely kill t

[2016-07-31 00:20] sglebs commented on #60
For the record, I did try unlinking:

[code]

[2016-07-31 00:42] sglebs commented on #60
For the record, I am trying manually editing the DOCKER* files as per https://github.com/dokku/dokku-rabbitmq/issues/32

[2016-07-31 01:22] #60 closed

[2016-08-01 10:34] sglebs commented on #60
But I am still fighting https://github.com/dokku/dokku-redis/issues/54

[2016-08-01 12:38] josegonzalez commented on #54
So the steps are:

- Create a redis container
- Link it to an app
- Unlink it from the app
- Link it to the app again
- Try to promote it

Is that correct?

[2016-08-01 12:49] josegonzalez commented on #58
Would either of you be willing to contribute a PR to include this support, or potentially sponsor the work?

[2016-08-01 13:12] sglebs commented on #54
Yes, I believe your steps are correct.

[2016-08-27 04:55] josegonzalez commented on #30
Calling `dokku redis:info SERVICE` will now output the config and data directories for a given service.

[2016-08-27 04:55] #30 closed

[2016-08-28 00:52] roylez opened #62 "Error during redis:create"
Here is the trace.

[code]

[2016-08-28 01:13] josegonzalez commented on #62
Please run the following:

[code]

To pull down the latest version of that image.

[2016-08-28 01:13] #62 closed

[2016-08-28 04:22] josegonzalez commented on #54
Using the remote dokku client bundled with dokku, I cannot replicate this:

[code]

[2016-08-28 04:22] #54 closed

[2016-08-28 04:48] roylez commented on #62
Thanks a lot!

[2016-08-29 02:36] josegonzalez commented on #52
Possible cli ui:

[code]

[2016-08-29 04:01] josegonzalez opened #64 "[RFC] Flags for customizing service creation and links"
Rather than have a bunch of semi-related issues open, I'll open a single issue to track the various flags we want to add:

# Creation Flags

- dokku/dokku-mongo#37
- dokku/dokku-postgres#61

We currently allow some values to be configured via environment variables. This doesn't work as well when users are running commands over ssh. We should instead allow users to specify any of these initial valu

[2016-08-29 04:02] josegonzalez commented on #52
Closing in favor of a rather large rfc here: dokku/dokku-redis/issues/64

[2016-08-29 04:02] #52 closed

[2016-08-29 09:04] josegonzalez opened #65 "[RFC] New command: dokku service:enter SERVICE"
Currently if a user wants to run a command against a service container, they have to remember a weird incantation:

[code]

Such lulz. Instead, it would be great to provide a command like this:

[code]

We use `enter` instead of `run` as the command name as the semantics of `run` in dokku core mean spinning up a new container. `run` can be an alias for `enter`, with an added warning - to stderr -

[2016-08-29 11:51] josegonzalez commented on #65
I decided that adding a `run` command is a bit premature. We can't get rid of code - that makes workflows sad - and I'm not sold on adding built-ins in this way.

[2016-08-29 12:24] josegonzalez commented on #65
Closed by d23b521142ceb74a50284dc5863702d52f9cddd6.

[2016-08-29 12:24] #65 closed

[2016-09-13 16:48] josegonzalez commented on #64
Useful [stackoverflow comment on argparsing]. Repost follows:

---

As other people explained, getopts doesn't parse long options. You can use getopt, but it's not portable (and it is broken on some platform...)

As a workaround, you can implement a shell loop. Here an example that transforms long options to short ones before using the standard getopts command (it's simpler in my opinion):

    #

[2016-10-12 13:57] MichaelSp commented on #64
Is there an ETA for the "Single Container"-Feature?

[2016-10-12 15:03] josegonzalez commented on #64
Whenever I get to it. Dokku doesn't pay the bills, so if you want to help change that, let me know and I can get you an ETA.

[2016-11-03 13:59] ohardy opened #68 "Allow instance creation without password"
I have some services like gitlab who doesn't support redis password actually.

[2016-11-03 14:04] josegonzalez commented on #68
Not for nothing, but file a bug with those services? Seems silly that they wouldn't support it, since basically any reasonable redis library has auth support.

[2016-11-03 14:05] josegonzalez commented on #68
Aside, it would be more difficult to conditionally set passwords for just this one service, since we don't have similar functionality elsewhere. If you're willing to do the work though, I'd be happy to see about merging it (and replicating elsewhere).

[2016-11-11 14:02] glennpjones opened #69 "SocketError: getaddrinfo: Name or service not known"
Hi,

First of all, thanks for dokku-redis, it's awesome. I hope I'm in the right place to ask this question.

The rails app in question has a staging environment (on port 2851, no dedicated subdomain) with a dokku-redis service linked to it (for sidekiq). Some sidekiq jobs work, some don't. Debugging that, when I manually try to connect to the redis service, I get this:

[code]

` REDIS_URL = "red

[2016-11-11 15:47] josegonzalez commented on #69
Is that irb from a container run, or from your local irb?

[2016-11-11 16:16] glennpjones commented on #69
container run, `rails c`

[2016-11-11 18:02] josegonzalez commented on #69
That sounds like the container isn't linked to the service. Can you do the following:

[code]

And paste the output?

[2016-11-11 18:05] glennpjones commented on #69
[code]

So, it seems ` --link dokku.redis.staging_jobstore:dokku-redis-staging-jobstore` is missing from Run options?

[2016-11-11 18:07] glennpjones commented on #69
[code]

[2016-11-11 18:16] josegonzalez commented on #69
Right, not clear how that happened - probably an accident on your end :( - but you can just add it using the `docker-options` plugin.

[2016-11-11 18:20] glennpjones commented on #69
Yes, likely ! Thank you for helping me figure out what happened anyway 👍  :)

[2016-11-11 18:20] #69 closed

[2016-12-14 12:57] knzudgt opened #70 "Using Redis as a persistent store"
I would need Redis for Sidekiq.
Sidekiq's documentation suggests that "it's important that Sidekiq be run against a Redis instance that is not configured as a cache but as a persistent store".
Is dokku-redis configured to run as a cache or as a persistent store?

[2016-12-14 13:01] josegonzalez commented on #70
Whats the difference?

[2016-12-14 16:13] knzudgt commented on #70
I found the recommendation to use Redis as persistent store and not as cache at the official Sidekiq GitHub repository, in the [wiki section](https://github.com/mperham/sidekiq/wiki/Using-Redis#memory).
I am trying to understand the difference myself, but the most important point is that, as far as I understood, using Redis as a cache, as usually people do, would not provide safety against data lo

[2016-12-18 03:39] eeemarv opened #71 "authentication redis-cli"
After getting into the redis-cli with

 `dokku redis:connect <name>`

whatever command I try to run, I get

`NOAUTH Authentication required.`

[2016-12-19 11:09] patricktruebe commented on #71
# Workaround

`dokku redis:info <your redis name>` gives sth like
[code]

copy `<a very long hex hash goes here>` to your clip board. Now enter `dokku redis:connect <your redis name>` and after redis-cli comes up try this:

[code]

Hope this helps.

[2016-12-19 11:23] eeemarv commented on #71
Thanks for the workaround!

[2017-02-21 17:47] pythdasch opened #72 "dokku postgres:destroy command description isn't clear enough"
postgres:destroy description : "Delete the service and stop its container if there are no links left"
isn't clear enough for newbie as me. I'd rather see the word : data in it to prevent misunderstanding of this command.

Thank you a lot

[2017-02-25 08:42] crutch opened #73 "redis:link does not complete correctly if REDIS_URL already set"
While I was trying to setup our dokku powered application with redis, I set up manually `REDIS_URL` config variable for our app (I was creating staging env, replicating setup from our production machine and created `REDIS_URL` with correct staging redis DSN).

Then I attempted to create a dokku/docker link between redis and our app:
`dokku redis:link <redis> <app>`

It finished by saying something

[2017-02-25 09:07] josegonzalez commented on #73
Do you know what the exact output was, as well as what the output of `dokku config APP | grep REDIS` was?

[2017-02-25 14:36] crutch commented on #73
[code]

[code]

[code]

[2017-02-25 22:03] josegonzalez commented on #73
Thats not the output i asked for. Can you run the *exact* dokku config command I ran?

[2017-02-25 22:15] crutch commented on #73
@josegonzalez as you wish, _exact_ dokku config command:

[code]

perhaps you would allow me to to change APP for an actual name of my application

[code]

Sorry what was the point of your comment? I do not fint that grep that useful in this particular scenario.

[2017-02-25 22:43] josegonzalez commented on #73
ha yes alright. I was hoping that adding the link would have created something like:

[code]

in the output of my command. If you link a service and already have a value there, then it'll use a different url by default, similar to what happens on heroku.

[2017-02-25 22:48] crutch commented on #73
Well, that did not happen. I created an empty app `foo` and empty redis service `bar` for this to try it out. All the outputs I posted are unfiltered.

[2017-02-25 22:51] josegonzalez commented on #73
Can you run the following:

[code]

[2017-02-25 22:55] crutch commented on #73
Sure, [here it is.](https://gist.github.com/crutch/716fb8436a56ea57edd7011e682046e2)

[2017-02-25 23:17] josegonzalez commented on #73
Ah I see. So you created the service, manually set the config variable, and then tried to link. The link fails because we detect that there is an env var that has the service url already set, so we don't actually write anything else on our end.

What you'd like is for us to fail because it's already set but we don't have the proper setup on our end *or*  ensure all the link stuff is set on the ser

[2017-02-26 00:15] crutch commented on #73
@josegonzalez yes, once I realized what was going on, I unset the config var and repeated the linking.

I see that you got my point - if the linking fails, it should fail more loudly. Or it should ensure that the docker link was created as well, apart from the config variable.

[2017-02-26 00:17] josegonzalez commented on #73
Yeah. I'm marking this as an enhancement as dokku-redis is working as advertised - we say use `redis:link` in our docs - but it can definitely "clean up" after bad setup.

[2017-04-21 03:37] MikeSchroll opened #74 "Start redis docker image with sysctl settings"
Redis by default outputs some sysctl errors:

[code]

At least one of these, somaxconn, can be solved by taking advantage of the [new --sysctl switch](https://docs.docker.com/engine/reference/commandline/run/)

Could it be considered to incorporate this?

[2017-04-21 03:41] josegonzalez commented on #74
Sure, pull requests welcome.

[2017-04-21 03:44] josegonzalez commented on #70
You can configure redis by setting up custom configuration in it's config directory, which is available via `dokku redis:info SERVICE --config-dir`. This is shown in the readme documentation for the service.

[2017-04-21 03:44] #70 closed

[2017-04-22 19:12] #71 closed

[2017-05-06 18:59] saneef opened #77 "MISCONF Redis error"
I'm using dokku-redis since last week with any issues on digitaocean droplet. Since last two day it started giving these error.

[code]

Any clue where could be the problem?

[2017-05-06 20:15] josegonzalez commented on #77
Did you run out of disk space or inodes? I can't think of any other reason you wouldn't be able to persist to disk.

[code]

[2017-05-07 05:50] saneef commented on #77
I restarted the container, since I couldn't find any other solution. Then it started behaving normal. I'll lookout for the error; if it appears again I'll post the `df` while on the error is showing. Currently, checking the `df` seems things are normal:

[code]

[2017-05-07 06:36] #77 closed

[2017-05-10 18:52] saneef commented on #77
Again the problem reappeared since past hour. Both disk space and inodes seems to be fine.

[code]

[2017-05-10 19:05] saneef commented on #77
Here is the log from redis. Seems like some problem with memory. Currently seems fine. Will try to debug. Will get back to you, if I can get something out of normal.

Thanks a lot for your time.
[code]

[2017-05-10 22:09] josegonzalez commented on #77
Okay so you ran out of memory? Give yourself more memory, or limit the amount of ram that redis can use.

[2017-05-11 04:45] saneef commented on #77
Sure. Will limit the redis memory, since it's only used for Sidekiq jobs. Will monitor for some days

[2017-05-22 15:30] PAStheLoD opened #78 "DOCKER_OPTIONS_DEPLOY permission denied"
Hello,

Thanks for this plugin, seems very straightforward to use, however, I've encountered a minor error.

After creating the DB I tried to link it:
`dokku redis:link db-name app-name` and got an error: `/var/lib/dokku/plugins/available/docker-options/functions: line 89: /home/dokku/app-name/DOCKER_OPTIONS_DEPLOY: Permission denied`

After `chmod o+w /home/dokku/app-name/DOCKER_OPTIONS_DEPLOY` t

[2017-05-22 16:09] josegonzalez commented on #78
Seems like you may have screwed permissions on your application directories. I'd check to verify that everything is owned by the `dokku:dokku` user and group.

[2017-05-22 16:09] #78 closed

[2017-05-23 18:22] javierav commented on #64
@josegonzalez I am interested in the "Single Container" feature, how can I help with this issue?

[2017-06-20 12:48] mspanc opened #79 "NOAUTH Authentication required after connecting to redis via redis:connect"
I encounter `(error) NOAUTH Authentication required.` error when I am using redis:connect to get my redis CLI.

[code]

Dokku report:

[code]

[2017-06-20 21:49] josegonzalez commented on #79
Does `redis-cli` allow you to specify the pass on connection via a flag?

[2017-06-21 08:05] mspanc commented on #79
I don't have redis-cli on the host machine.

Inside the redis container:

[code]

[code]

[2017-07-06 19:02] dchuk commented on #77
I'm hitting the same issue, and unfortunately can't piece together how to set a memory limit for my redis container. Can someone point me in the right direction?

[2017-07-07 01:24] saneef commented on #77
@dchuk You can use `maxmemory` line in redis conf file. But, that didn't fix the problem for me.

I'm using the dokku for my rails app. Some of the tasks run on sidekiq where taking more that 2,3 minutes. Ruby has some weird way of [allocating and garbage collecting memory](https://devcenter.heroku.com/articles/ruby-memory-use). Because of that the longing tasks could end up taking up full memory.

[2017-07-07 01:42] dchuk commented on #77
Interesting. I have the same sort of setup, with sidekiq jobs that sometimes run for minutes. I'll work on breaking them down a bit like you.

Would still like to know how to cap these containers, curious if anyone else can chime in...

[2017-07-07 01:56] dchuk commented on #77
Sorry, long day. My Sidekiq worker is hitting about 600mb of RAM, I'd like to cap that at something like 512 and have it autorestart. Just unsure how that is possible with dokku

[2017-07-07 02:08] saneef commented on #77
https://gist.github.com/jjb/7389552 Have list env variables with which you can change ruby memory behaviors. Try playing with `RUBY_GC_MALLOC_LIMIT_GROWTH_FACTOR`, might help.

[2017-07-07 05:18] josegonzalez commented on #77
@dchuk you can limit overall process resources by using the official `docker-options` plugin with [docker resource constraints](https://docs.docker.com/engine/admin/resource_constraints/).

[2017-07-07 06:01] dchuk commented on #77
Hey thanks @josegonzalez . One last question: I have a Procfile that defines my web and worker processes...I want to only limit the memory of the worker container, not the web one. Is that possible with docker-options?

Another possibility would be just setting them to different limits as well.

[2017-07-07 07:01] josegonzalez commented on #77
It is not possible to set limits per process type, sorry.

[2017-07-12 20:20] ksmandersen opened #80 "No such file or directory on empty backup"
I set up a new redis empty instance and set the aws credentials. The calling backup gives the following error:
[code]

[2017-07-13 05:18] josegonzalez commented on #80
Can you gist the output of:

[code]

[2017-07-13 06:00] ksmandersen commented on #80
@josegonzalez Here's the output:

https://gist.github.com/ksmandersen/1e092c0358575281976ba61e2233d262

[2017-07-13 06:12] josegonzalez commented on #80
Looks like this was implemented by @flink [here](https://github.com/dokku/dokku-redis/pull/8). I think maybe the dump isn't being saved to that file?

If you `dokku redis:enter` and run the following, what happens?

[code]

[2017-07-13 07:51] ksmandersen commented on #80
I get this message:
[code]

[2017-07-13 08:09] josegonzalez commented on #80
Please update your plugin installation, you are running an older version.

[2017-07-13 08:49] ksmandersen commented on #80
That sounds unlikely since I installed the plugin yesterday. I ran dokku plugin:update redis.
``dokku plugin`` tells me that I am running 1.0.0. The problem still persists

[2017-07-13 08:54] josegonzalez commented on #80
Can you do:

[code]

[2017-07-13 08:56] ksmandersen commented on #80
Output here:
https://gist.github.com/ksmandersen/4e521ae4d4b2297b7532bf2c82119a6c

[2017-07-13 09:05] josegonzalez commented on #80
Ah the `redis-cli` needs the password to authenticate. You can get that from `dokku redis:info SERVICE`.

[2017-07-13 09:11] ksmandersen commented on #80
So after doing ``dokku redis:enter`` and then ``echo "SAVE" | redis-cli -a "thepassword"`` the backup command works fine. Is this the intended behaviour?

[2017-07-13 09:18] josegonzalez commented on #80
Okay so I think we need to include the password in the redis:export command. Let me take a look at it now.

[2017-07-13 09:21] #80 closed

[2017-07-13 09:21] josegonzalez commented on #80
Try updating and using the export command now.

[2017-07-13 11:58] MikeSchroll opened #81 "Backup cron breaks if invalid service name"
When a backup is created, it crafts a file in /etc/cron.d/ based on the filename of the service.

Unfortunately cron does not support certain characters in files listed there.

Can we replace any invalid characters with underscores when creating this file, so the cron job created still works properly?

Ref: https://serverfault.com/questions/425232/adding-file-to-etc-cron-d-doesnt-make-it-run-ubunt

[2017-07-13 12:06] josegonzalez commented on #81
Sure, can you provide a test-case?

[2017-08-14 19:02] chrisnicola commented on #68
Gitlab is just using Sidekiq. It should support a password just fine.

[2017-08-26 22:38] #72 closed

[2017-08-26 22:41] josegonzalez commented on #79
This was fixed by #76, so upgrading the redis plugin should put you in a good place again.

[2017-08-26 22:41] #79 closed

[2017-08-27 22:57] josegonzalez opened #83 "Installing a custom elasticsearch image --> replace "docker pull "$PLUGIN_IMAGE:$PLUGIN_IMAGE_VERSION"?"
_From @dmr on February 11, 2017 5:56_

I'm trying to build my own elasticsearch image which requires a specific version and plugins and the plugin always executes

```docker pull "$PLUGIN_IMAGE:$PLUGIN_IMAGE_VERSION"```

I think it would be more generic to only have one variable `ELASTICSEARCH_IMAGE="elasticsearch:2.3.3` which would allow me to replace this with a custom url that I like.

Maybe I

[2017-08-27 22:57] josegonzalez commented on #83
We pull an image and a version of that image. You can do `ELASTICSEARCH_IMAGE=dmr/yolo` and `ELASTICSEARCH_IMAGE_VERSION=latest` if you wanted. They are separate because they are separate, nothing more.

[2017-08-27 22:57] josegonzalez commented on #83
_From @dmr on February 11, 2017 6:48_

I was hoping that I could use a git repository as a source because I use private repositories. I try to use a url as a image but that does not work yet

(http://stackoverflow.com/questions/26753030/how-to-build-docker-image-from-github-repository)

[2017-08-27 23:00] josegonzalez opened #84 "Can we have plugn trigger at for at least all official plugins?"
_From @pltchuong on May 8, 2016 16:59_

That would be great if we have triggers at plugins level so we can hook into it

_Copied from original issue: dokku/dokku-mysql#54_

[2017-08-27 23:00] josegonzalez commented on #84
What would this plugin trigger do? Where would it be located? What is its name?

[2017-08-27 23:00] josegonzalez commented on #84
_From @pltchuong on May 8, 2016 17:35_

since plugin can be flexible enough for everybody, so I guess one kind of trigger would be enough with parameters, so something like this `plugn trigger plugin-command "$APP" "$SERVICE_NAME" "$COMMAND" "$PARAMS"`

The point of this is to collect information when a plugin command is executed. For instance we have to run a `find` to get all plugins that linked

[2017-08-27 23:00] josegonzalez commented on #84
- What is `$COMMAND` in this case?
- What happens for `mysql:list`, which isn't attached to a service?
- Many of the commands do not reference an `$APP`, so adding that seems wrong here.

[2017-08-27 23:04] josegonzalez opened #85 "Error: No such object when trying to display service's logs"
_From @mspanc on March 27, 2017 14:42_

When I am trying to display service's logs I get the following error:

[code]

Then it seems to incorrectly list services:

[code]

While they are running and functioning properly:

[code]

I am using the following script on the server (run by cron) in order to cleanup docker (otherwise it tends to eat all HDD) which might be potential cause of interfering w

[2017-08-27 23:04] josegonzalez commented on #85
Did you ever restart your server?

[2017-08-27 23:04] josegonzalez commented on #85
_From @mspanc on March 27, 2017 17:49_

It could have happened.

[2017-08-27 23:04] josegonzalez commented on #85
Thats the only thing I can think of that would have started new containers completely and killed the existing links, and even that is... suspect.

I'll keep this open as we should have a method to "reassociate" a dead ID to a running container.

[2017-08-27 23:04] josegonzalez commented on #85
_From @mspanc on March 27, 2017 21:48_

Unless there's a hook in the docker that allows to overwrite the ID file with actually running container's id, I would consider querying this id directly from `docker ps` and its other methods of inspecting its state. Server restart might happen, it's uncommon but perfectly valid behavior and dokku-postgres should be able to recover from it

[2017-08-27 23:04] josegonzalez commented on #85
Sure, that works fine for me.

[2017-08-27 23:04] josegonzalez opened #86 "Add docker-options that work similarily to per-app dokku docker-options"
_From @mspanc on March 27, 2017 14:13_

It would have been awesome to be able to tune postgresql's container docker options, specifically to tweak their resources.

_Copied from original issue: dokku/dokku-postgres#105_

[2017-09-12 14:24] dmr commented on #83
I solved this "issue" by registering an image at the dockerhub, I think this is ok for now IMO

[2017-12-02 18:29] josegonzalez opened #88 "--use-iam does not seem to work"
_From @tobiasmcnulty on September 18, 2017 2:22_

Passing `--use-iam` to the `postgres:backup` command just tells me to use the `--use-iam` flag:

    $ ssh dokku@my.dokku.name postgres:backup my-postgres-instance my-bucket-name --use-iam
    Provide AWS credentials or use the --use-iam flag

Which seems to be exactly what the code says to do: https://github.com/dokku/dokku-postgres/blob/15a4a0d4c

[2017-12-02 18:29] josegonzalez opened #89 "Can't unexpose port"
_From @J77J on August 29, 2017 9:38_

I exposed a postgres port but now when I try to unexpose it gives an error:

[root@server ~]# dokku postgres:unexpose my_app_db
Error response from daemon: driver "overlay" failed to remove root filesystem for ******************************************************************: remove /var/lib/docker/overlay/*****************************************************

[2017-12-02 18:29] josegonzalez commented on #89
_From @J77J on August 29, 2017 11:11_

OK,

had a look round and the only fix I was able to find for this error (on Centos 7) was to reboot the server (as recommended here: https://github.com/moby/moby/issues/22260), but that's obviously not ideal, so if anyone comes across a better solution....

J

[2017-12-02 18:29] josegonzalez opened #90 "Cannot unlink -- config_all: command not found"
_From @buckle2000 on November 6, 2017 13:5_

Dokku version: latest
[code]

_Copied from original issue: dokku/dokku-rethinkdb#42_

[2017-12-02 18:29] josegonzalez commented on #90
_From @aleclarson on November 6, 2017 13:7_

Possible duplicate: #34

[2017-12-02 18:29] josegonzalez commented on #90
_From @buckle2000 on November 6, 2017 14:9_

But this time it has nothing to do with file permissions.

[2017-12-02 18:32] josegonzalez opened #91 "Running backup-auth ignores optional config values"
_From @jeffjewiss on October 1, 2017 21:41_

I was trying to setup and configure mysql backups with Digital Ocean's new product Spaces (a competitor to S3) and was getting an auth error that the aws api key wasn't found.

After turning dokku trace on, I noticed that the `ENDPOINT_URL` and other optional config vars weren't being outputted, but skipped during this part of the trace:

[code]

I was

[2017-12-02 18:35] josegonzalez opened #92 "Can't destroy instance cause it's linked but when try to unlink it says it has no links"
_From @haggen on November 28, 2017 22:30_

- Dokku 0.10.5
- elasticsearch plugin 1.0.0

Here's the trace when I try to unlink the instance:

[code]

_Copied from original issue: dokku/dokku-elasticsearch#56_

[2017-12-02 19:04] josegonzalez commented on #90
We seem to have two issues:

- Didn't source the `config/functions` file
- Upstream removed `config_all`

I'm fixing both issues today :)

[2017-12-02 19:04] josegonzalez commented on #89
Yeah this sounds like a docker bug, not something we can handle. I'd recommend upgrading Docker at the very least.

Sorry :(

[2017-12-02 19:04] #89 closed

[2017-12-02 19:33] #90 closed

[2017-12-10 23:42] josegonzalez opened #94 "Use a different DATABASE_URL for java applications"
_From @ezzarghili on December 10, 2017 23:25_

The DATABASE_URL for the dokku postgres add-on follows the below convention
[code]
However the Postgres JDBC driver uses the following convention:
[code]

Heroku provide a second URL called JDBC_DATABASE_URL for this

_Copied from original issue: dokku/dokku-postgres#127_

[2017-12-12 14:23] khakulov commented on #83
[code]

[2018-01-12 03:54] #92 closed

[2018-02-01 14:21] josegonzalez opened #95 "`dokku postgres` should be alias to `dokku postgres:help`"
_From @raine on February 1, 2018 11:35_

I feel that having `dokku postgres` output what `dokku postgres:help` does would be sensible.

[code]

_Copied from original issue: dokku/dokku-postgres#135_

[2018-02-15 19:16] enricodeleo opened #97 "Stucked on "Stopping container""
I use just one redis container on my dokku machine, and resources in general seem okay but suddenly the service that was using redis stopped working. After a few minute I understood that redis was failing so I thought I could restart the service but it keeps on `Stopping container`. Even unlinking and destroying fails with the service stucked on `Stopping container`.

Any ideas?

** UPDATE **
I ma

[2018-02-16 02:41] josegonzalez commented on #97
What is the output of `docker ps -a` and `dokku redis:info SERVICE`?

[2018-02-16 16:50] enricodeleo commented on #97
[code]
and

[code]

[2018-02-16 16:59] josegonzalez commented on #97
For the redis that wont be destroyed, can you run:

[code]

And gist the output?

[2018-02-16 17:03] enricodeleo commented on #97
It still stays on stop

[code]

[2018-02-16 17:08] josegonzalez commented on #97
What is the output of

[code]

[2018-02-16 17:10] enricodeleo commented on #97
This command has no output. Stays on

[code]

[2018-02-16 17:52] josegonzalez commented on #97
Right so this sounds like a docker issue.

What happens on `docker rm -f 3eb15bac5d91`?

[2018-02-16 17:54] enricodeleo commented on #97
Still no output :(

[2018-02-16 18:02] josegonzalez commented on #97
Alright, I would file an issue in docker, not much I can do here about a stuck container. Maybe check docker logs?

Alternatively, you can restart your server. Feel free to log into our slack chat if you have any issues with that.

Sorry I wasn't much help otherwise :(

[2018-02-16 18:02] #97 closed

[2018-02-16 18:04] enricodeleo commented on #97
Thank you anyway. I'd rather prefer not to reboot the machine since the last time it happened (2 weeks ago apparently my host stopped replying to requests) I had to re-start each service manually leading to a service interruption.

[2018-02-25 20:15] josegonzalez commented on #81
Actually we should just disable the creation of invalid service names. Probably only allow alphanumeric characters - which will break users with invalid services.

[2018-02-26 03:54] josegonzalez commented on #95
This is now done :)

[2018-02-26 03:54] #95 closed

[2018-02-26 05:58] josegonzalez opened #99 "Invalid database name"
_From @buckle2000 on November 2, 2017 12:58_

The default database name is identical to the app name. However, database name in RethinkDB must Use `[A-Za-z0-9_]+` only.

So if you have an app named `xxx-yyy`, the program will break because `xxx-yyy` is an invalid db name.

_Copied from original issue: dokku/dokku-rethinkdb#40_

[2018-02-26 05:58] josegonzalez commented on #99
There is a similar problem here for mysql/mongo. I think I'm going to implement a regex to limit the characters to the ones you've mentioned above.

This _might_ affect users for other plugins, but they can checkout the appropriate version of their plugin, export the data, recreate under a new name, and re-update.

- dokku/dokku-mysql#47
- dokku/dokku-mongo#86

[2018-02-26 06:01] josegonzalez opened #100 "Backups cannot be imported"
_From @jlcastillo on February 25, 2018 0:20_

There are several problems:

1) Backups have a TGZ format, but mongo:import only supports TAR.
2) The structure of folders and collections inside the TGZ are wrong, and mongo:import doesn't understand them.

_Copied from original issue: dokku/dokku-mongo#95_

[2018-02-26 06:01] josegonzalez commented on #100
What backups are you talking about? The `import` subcommands for service plugins are meant to be used in conjunction with the respective `export` subcommands. In this case, the format we use for exports [is not tgz](https://github.com/dokku/dokku-mongo/blob/master/functions#L102) unless I am mistaken.

[2018-02-26 06:01] josegonzalez commented on #100
_From @jlcastillo on February 25, 2018 1:4_

I'm talking about the backups that you make with mongo:backup. Those cannot be imported with:

`dokku mongo:import service < backup_file`

they instead need to be imported with something like:

`tar zxf backup_file && dokku mongo:import service < backup_file/export`

it would make sense to backup with the same format of `mongo:export`, or at least docum

[2018-02-26 06:01] josegonzalez commented on #100
Yeah I think the documentation route is the way to go here as - iirc - the backups also include configuration files etc., which may not make too much sense to "import".

[2018-02-26 06:03] josegonzalez commented on #88
Copying from dokku/dokku-mongo#96 so I have notes on what else to fix here:

[code]

[2018-02-26 06:07] josegonzalez commented on #83
Closing as the correct alternative is to use a registry. I don't think it makes sense for us to try and detect a git repo vs a regular registry at this time (I can imagine special casing github will lead to people trying to special case other servers).

[2018-02-26 06:07] #83 closed

[2018-02-28 09:05] sarendsen commented on #64
@josegonzalez Im working on the single container feature for postgres. Wondering if it would be easier and more secure to just drop the --user flag? just let dokku handle it, every db has it's own user/pass. More secure then having one user for multiple database's, and it keeps the plugin syntax more simple. In my opinion the additonal value the --user flag is neglectable

[2018-03-17 01:35] ambethia commented on #74
Any luck with this? I'm having memory issues with redis under dokku, I believe being able to set these recommended values will resolve it.

[2018-03-17 02:24] josegonzalez commented on #74
@ambethia

[2018-03-24 20:32] anxolerd commented on #64
@josegonzalez I'd like to implement single-container feature for mariadb plugin. Though I feel I don't understand RFC for this completely. For example, currently I have troubles understanding the following:

1. Should there be only one container per database version? Or both workflows (multi-container and single-container) have to be supported?
2. If only single-container scenario should be suppor

[2018-03-24 21:45] josegonzalez commented on #64
The idea here is that the plugin would support both single and multi-container setups. It would default to multi-container, but a user could take a service and add a "database" to it (whatever that means for the underlying datastore) and then link that specific database/service pair to an application. A service must still be created in order for you to add a new database to it.

[code]

[2018-03-24 22:33] anxolerd commented on #64
Okay. Then how do we know in which service `mysql:create-database paintshop` will create a database? I assumed, that `create-database` is the same as `create` but instead of creating a lot of containers, it creates databases in one special container for those purposes.

Also I didn't get how `dokku service:link lollipop app --database paintshop` should work. How paintshop database (which is create

[2018-03-24 23:41] josegonzalez commented on #64
Sorry yeah I meant to add the service name to create-database.

I don't know anything about a group of projects. How users apply the single-container run mode is up to them.

Note that it should be multi container by default.

[2018-03-27 15:47] scjody opened #101 "Can't install from a Dockerfile"
I am trying to add dokku-redis to a Docker image (containing Dokku and other things) but I get the following error:

[code]

I propose fixing this as follows:
* Check the `DOKKU_DOCKERFILE` environment variable (for consistency with Dokku itself) during installation. If nonempty, don't pull any Docker images but rather print a message (as a reminder).
* Document that the user needs to find another

[2018-04-23 19:04] josegonzalez opened #105 "`dokku postgres:clone` ignores `POSTGRES_IMAGE_VERSION`"
_From @znz on December 22, 2017 7:31_

[upgrade/downgrade in README](https://github.com/dokku/dokku-postgres/blob/8a598e3c15a349abc1706ae717786027c7232de5/README.md#upgradedowngrade) says `POSTGRES_IMAGE_VERSION=9.6 dokku postgres:clone db9.5 db9.6`.
But `clone` ignores `POSTGRES_IMAGE_VERSION`.
I thinks this is since https://github.com/dokku/dokku-postgres/commit/6a86efcd5de31613fb88544eedc0c3c71

[2018-04-23 19:04] josegonzalez opened #106 "Cron jobs don't schedule if service name contains dot character"
_From @ilyapoz on March 30, 2018 13:11_

https://github.com/dokku/dokku-mysql/blob/c6f38b2c1b4567d3999023f254b085ea0e61fa8b/common-functions#L190

Files in /etc/cron.d can only contain alphanumeric characters, hyphen and underscore for popular cron implementations, otherwise the jobs are silently ignored.

We should probably change the way dokku-mysql generates filenames. Ideas?

_Copied from orig

[2018-04-23 19:11] josegonzalez commented on #106
Duplicate of #81.

[2018-04-23 19:11] #106 closed

[2018-04-23 19:51] #85 closed

[2018-04-23 21:11] #88 closed

[2018-04-24 04:57] #105 closed

[2018-04-24 10:46] jeffjewiss commented on #91
Thanks for following up on this!

[2018-04-30 15:57] crisward opened #119 "Allow custom docker arguments to expose"
Not sure if this is the best place to raise this, as it applies to all the plugins with expose.

I'd quite like it if the expose command had an option to bind to 127.0.0.1 instead of 0.0.0.0. That way I could expose it to the local machine, and still access it via an ssh tunnel. This is easy to setup in many mysql/mariadb clients, but has the benefit of being more secure.

perhaps
[code]

Thoughts

[2018-05-15 10:24] peerbolte opened #120 "Restoring from AWS backup"
I'm having trouble restoring an export file from AWS. I'm running a backup and storing it to AWS S3.

The format of the file that is stored on S3:
`mongo-backend-2018-05-15-09-55-05.tgz`

After downloading the file to the server I run
`dokku mongo:import db-test < mongo-backend-2018-05-15-09-55-05.tgz`
I get the following error: `Failed: stream or file does not appear to be a mongodump archive`

I

[2018-05-21 07:13] znz opened #121 "Unable to use default or generated URL alias"
If `DOKKU_POSTGRES_YELLOW_URL` exists, `dokku postgres:link` failed.

I think https://github.com/dokku/dokku-postgres/blob/f30db928fb8a608327118ad2e0443594c8cd0bdf/common-functions#L111-L117 do finally unset ALIAS if YELLOW alias exists.

[2018-06-11 17:10] mschipperheyn opened #107 "Using rejson as a module"
ReJSON is a Redis module that allows you to read and write JSON content to Redis. I am wondering if it would be possible and if so how, to use this module with dokku-redis?

[2018-06-11 17:37] josegonzalez commented on #107
You would need to switch the image in use. From our docs:

[code]

[2018-06-11 17:38] josegonzalez commented on #107
Note that this is outside of the official redis setup, so we won't be providing much support, but you should be able to build a new image based on the official one and go from there :)

Join us on slack with any questions and we should be able to help you out.

[2018-06-11 17:38] #107 closed

[2018-08-11 18:57] moltar opened #109 "Allow setting export path as a parameter"
Currently running an export command requires a redirect:

`dokku redis:export lolipop > lolipop.rdb`

However, when running the command via SSH, it is not possible to redirect to the host server, and instead the export just dumbs into the SSH session.

`ssh dokku@host "redis:export lolipop > lolipop.rdb"`

Will export the data to `STDOUT`.

Ideally, a parameter should be added (e.g. `-f --file`) t

[2018-09-06 08:21] malmax opened #110 "Error: Redis connection to redis:6379 failed - getaddrinfo ENOTFOUND redis"
Dokku version 0.11.3 and 0.12.12
Created app and two services: redis and postgres.
Linked both to app. With postgres is all ok.

I try to connect to Redis like this
[code]
but get an error
[code]

[2018-09-07 11:18] #110 closed

[2018-09-27 18:34] kblcuk opened #111 "Temporary files created during plugin update are not removed"
Seems like during some (all?) dokku plugin updates, temp files are not being removed, which can (in the long run) clutter disk space dramatically.

For context, see discussion starting from https://gliderlabs.slack.com/archives/C0FP0R13J/p1538033946000100

[2018-10-11 03:19] josegonzalez commented on #74
Closed by #108.

[2018-10-11 03:19] #74 closed

[2018-10-23 16:37] pcstout opened #118 "Destroy does not remove cron jobs"
Running `dokku postgres:destroy <app-name>` does not delete the scheduled backup jobs in `/etc/cron.d`

[2018-10-28 18:51] matissg opened #114 "Errno::EADDRNOTAVAIL (Cannot assign requested address - connect(2) for [::1]:6379)"
I'm stuck with this error. **In production** when I do image upload (Rails Active Storage, direct_upload) I get this fatal error:
`Errno::EADDRNOTAVAIL (Cannot assign requested address - connect(2) for [::1]:6379)`

I thought it is something related to Puma as [in this issue](https://github.com/puma/puma/issues/1062), but no - I tried to changed as suggested, but no luck.

`sudo nano /etc/hosts` g

[2018-10-28 19:34] matissg commented on #114
@josegonzalez  I'm using Dokku for my DigitalOcean droplet and it looks like this:
[code]
No errors when I upload image locally.

[2018-10-29 02:33] josegonzalez commented on #114
Is your application respecting `REDIS_URL` when connecting to redis? Sounds like maybe it isn't.

[2018-10-29 05:04] matissg commented on #114
@josegonzalez I don't think so. At least I'm not using `REDIS_URL` in my `production.rb`
I tried to use `config.cache_store = :redis_cache_store, {url: "redis://dokku-own-apps:[some random id]@dokku-redis-dokku-own-apps:6379"}` however it didn't help - nothing changed as the errors stayed.
In development I just launch `redis-server` and it works.

[2018-10-29 16:47] josegonzalez commented on #114
That just says it can't talk to redis, but without a longer stacktrace, I can't really dig into this - it also sounds like an app error.

Can you connect to the redis instance and verify its working? If so, then I'm not sure what else to dig into.

[2018-10-29 17:44] matissg commented on #114
@josegonzalez  Thank you, looks like there is some connection error since I get this in my console:
[code]
Could it be something related to firewall or similar?

[2018-10-29 19:20] josegonzalez commented on #114
The redis instance doesn't run directly on the host, it runs in a container. It sounds like your application isn't respecting your redis configuration, and isn't talking to the right hostname.

[2018-10-29 19:38] matissg commented on #114
@josegonzalez From `dokku redis:info dokku-own-apps` what hostname I should be pointing my app, please?

[2018-10-29 20:02] josegonzalez commented on #114
You should not be hardcoding the value, and instead respecting the `REDIS_URL` env var.

[2018-10-30 19:02] matissg commented on #114
@josegonzalez In my console I can do:
[code]
I believe this means Redis is working, it's just my app is not connected properly.

In my Rails 5 app in `app\config\redis.yml` I have:
[code]
but this is not working. Do you have some idea, what am I doing wrong here? I'm trying to follow [this config suggestion](https://gist.github.com/pubis/1459506/4b71e9c50c9d4425acfdf2fcbd1fd9fa075782ad#gistcomment

[2018-10-30 19:38] josegonzalez commented on #114
You need to also have the password. We set a password in all redis services, and if you don't use it, your connection will fail.

[2018-10-31 18:22] matissg commented on #114
@josegonzalez  My bad - I missed Rails ActiveStorage used Sidekiq in background and there my `config\initializers\sidekiq.rb` missed `ENV["REDIS_URL"]`.
So it has to look like this:
[code]
I anyone from Rails community runs into same situation, it could be probably due to this. Just change `sidekiq.rb` to respect `ENV["REDIS_URL"]` and it should work. No other changes apart from what is defined he

[2018-10-31 19:03] josegonzalez commented on #114
No problem! Glad to hear it wasn't us :)

[2018-10-31 19:03] #114 closed

[2018-11-06 18:10] jlcastillo opened #115 "add docker-options command to limit memory consumption"
We can limit resources for apps using the docker-options command, but the same cannot be done for services like MySQL. As a result, MySQL takes too much memory. A simple WordPress database starts consuming 60 MB, and scales to 350 MB after 24h. For small projects with few visitors that's unreasonable.

[2018-11-16 18:12] pak11273 commented on #110
I'm assuming you are following Ben Awad's airbnb tutorial.  Did you come up with a solution or is this still an issue?

[2018-12-02 09:39] johnspade opened #117 "`dokku postgres:create` timeout"
`dokku postgres:create` with mdillon/postgis image takes more than a 30s on a weak server and fails with "ERROR: Unable to connect" message. I forked dokku-postgres and [increased the timeout](https://github.com/johnspade/dokku-postgres/commit/7a9ddf48d258191ab4a09a00124940a4bf1066a9) to 1m, now it works fine.
I think that we need a way to configure wait timeout for `dokku postgres:create` command

[2018-12-02 09:53] josegonzalez commented on #121
Sorry for taking a while to get back to this.

Is the issue here that you already have every "color" attached to a the server, and therefore have run out of color aliases?

[2018-12-02 10:12] #118 closed

[2019-01-06 12:20] mschipperheyn opened #123 "service_container_rm` isnt called in `SERVICE:destroy`"
Per our conversation on 5 jan:
[code]

[2019-01-06 12:44] mschipperheyn commented on #107
So, for those stumbling upon this: this is the way to get it working:
Thanks @josegonzalez for the help!

- Copy the redis.conf https://raw.githubusercontent.com/antirez/redis/4.0.11/redis.conf (or whatever version is actual)
- Add `loadmodule /usr/lib/redis/modules/rejson.so` to it
- Place the file on the dokku server, e.g. /data/redis.conf
[code]

[2019-01-15 19:28] kbuilds opened #136 "Destroying an Exposed Service"
## Description of problem

Using dokku version 0.13.4, when I create a new service from a plugin (i.e. redis, postgres), and expose a port on that service, I cannot destroy that service without first unexposing the service. Fails with a docker error.

### How reproducible

Seems to happen every time.

### Steps to Reproduce

Create a new service

`dokku postgres:create test_db`

Expose that servic

[2019-02-19 20:43] ivanmonteiro opened #135 "Container missing after reboot"
After I rebooted my Ubuntu Server, mysql databases created using dokku's mysql plugin are missing and linked apps can't start up because of this.

Output of `dokku mysql:list`

[2019-03-01 23:49] mehrdadn commented on #121
Hi Jose, it seems to me [the fix](/dokku/dokku-redis/commit/e3b9237e593d26a02b377463a26e246f1e19c3dd) in #64 makes the loop potentially buggy. Right now the loop goes through _all_ colors, and `ALIAS` can only ever be `YELLOW` or an empty string once the loop ends. It doesn't seem like it can ever be any other color. Is this correct? It seems like a `break` might be missing in the loop.

[2019-03-02 02:18] josegonzalez commented on #121
Yeah I'm aware of the issue.

I recently took a new position where I'll be concentrating on Dokku and the ecosystem around it, so I should be able to pick this - and other datastore issues - up Real Soon™.

[2019-03-09 04:30] josegonzalez commented on #123
Fixed in https://github.com/dokku/dokku-redis/commit/28ff40a507afd43aac96be100cdb2e71208686c4. Thanks for filing the issue!

[2019-03-09 04:30] #123 closed

[2019-03-09 22:26] #99 closed

[2019-03-09 22:26] #81 closed

[2019-04-02 18:30] nemanjan00 opened #128 "Wrong config for rejson"
When I use rejson, I have problem starting server.

[code]

After this I create redis DB.

[code]

What happens next is DB is created, but docker container is constantly rebooting.

What the problem is that for some reason, redis plugin put file containing "404 Not Found" in place of redis config.

How I fixed that is:

[code]

After that, it was starting.

To make it work with app, I also had to

[2019-04-02 19:07] josegonzalez commented on #128
Pull requests for supporting alternative images more easily are welcome.

[2019-04-12 05:48] macinjoke commented on #128
I faced the same issue with redis image version 5

[code]

I also resolved this by editing redis.conf to update the password contained in `REDIS_URL`.

[2019-05-06 17:36] josegonzalez opened #130 "Handle * folder creation during service delete"
This is an old bug that has been papered over by a ton of glue. It happens because of how we iterate over folders during service deletion.

[2019-06-03 19:57] vanastassiou opened #133 "dokku-postgres: Intermittent "missing" container status when created using "postgres:create servicename""
I used a GraphQL mutation in a locally installed GraphiQL UI to create `pgtest`, but got an error (that I didn't log and cannot duplicate) when using a mutation to `postgres:link` the new service to an existing app. Here is some troubleshooting I attempted:
[code]
For comparison purposes, I created a service directly in the container:

[code]
To test the mutation again, I created `pgtestagain` and

[2019-06-03 19:59] vanastassiou commented on #133
Workaround: create missing `/var/lib/dokku/services/postgres/pgtest/ID` file containing the `local ID` value from the trace.

[2019-06-04 16:45] vanastassiou commented on #133
I was able to duplicate the issue as follows:
1. Use GraphQL mutation to create new Postgres service
1. Use my app's front end to delete the service
1. Run `postgres:list` in container; the service will still be listed, but `missing` status

I also ran into something else that's interesting:
1. Use GraphQL mutation to create _two_ new Postgres services (`testone` and `testonetwo`)
1. Use my app's

[2019-06-04 18:42] josegonzalez commented on #133
I tested this with raw service calls:

[code]

Might be something in the app that is causing the service creation/destruction to bail in a weird way...

We definitely still have an issue where `postgres:start` should correctly start the service even if it's "missing" though.

[2019-06-08 13:41] josegonzalez commented on #130
This was fixed in https://github.com/dokku/dokku-redis/commit/744e65760b60403ebe27f2dde51e1c36813ac60d#diff-ae5da461147817bc43040840ce1081c5 !

[2019-06-08 13:54] #130 closed

[2019-06-11 19:46] josegonzalez commented on #133
The 1.8.1 release of all the plugins now properly handles `:start` calls. Any other issues regarding containers missing etc. is something that probably is in your app code, and can't be fixed in this plugin.

[2019-06-11 19:46] #133 closed

[2019-07-17 21:14] josegonzalez commented on #115
Duplicate of #86.

[2019-07-17 21:14] #115 closed

[2019-07-19 12:49] lazyatom opened #137 "Allow specifying/renaming of database"
I believe a recent change had the plugin expect that the service name and the database names are identical, whereas earlier versions did not. For example:

* with the earlier plugin, `dokku postgres:create my-app-database` would create a service called `my-add-database` containing a database `my_app_database`
* with the new plugin, `dokku postgres:export my-app-database` _tries_ to export a databa

[2019-09-14 21:04] CQCumbers opened #138 "Ensure linked services are running before build"
I was instructed to file an issue here on the dokku slack channel.

If the services linked to a dokku app are not running, building the app will fail with an error of the form `Unable to find image 'dokku/myapp:latest' locally`. This is because when Docker attempts to run a container, if linked containers are not available, Docker will say that the image is missing, when in fact the linked contain

[2019-09-17 15:31] archy-bold opened #140 "Restoring From S3 Backup"
Is there a way to restore S3 backups from the CLI? Or maybe plans to implement this as a feature? Or do we need to restore manually?

[2019-09-28 21:15] ppawlak commented on #121
Hello,

I had this error message when i tried to link a second app to a postgres database :

`
dokku@dokku:~$ dokku postgres:link my_database another-app
Unable to use default or generated URL alias
`

Any idea how to fix?

[2019-09-28 22:29] josegonzalez commented on #121
@ppawlak What version of the dokku-redis plugin are you using? Also, what is the output of:

[code]

[2019-09-29 10:16] ppawlak commented on #121
@josegonzalez
My  redis plugin is version 1.6.1. How is it related to this issue? (I want to link a postgres database)

I've attached my trace log with passwords obfuscated, app names replaced by _app1_, _app2_ , _app3_ and databases names replaced by _app1_database_ , _app2_databse_, _app3_database_

[trace.txt](https://github.com/dokku/dokku-redis/files/3666619/trace.txt)

[2019-09-30 20:10] josegonzalez commented on #121
The version of the software you are using is always connected to any bugs that software may or may not have.

I'll take a look at your trace output tomorrow, thanks for that!

[2019-09-30 21:26] robhudson opened #142 "`dokku apps:rename` breaks link"
Renaming an app breaks the link to the app.

E.g. with the postgres plugin I had a linked postgres service. When I renamed the app the link no longer showed up in the link output, but the env variable was still configured and set up correctly to work.

[2019-10-09 06:40] ppawlak commented on #121
@josegonzalez Did you have a look at it? Any idea how I can fix this and link several databases to the same app ? Thanks!

[2019-10-30 22:11] ppawlak commented on #121
@josegonzalez I just updated dokku postgres plugin to version 1.9.1 (I was on version 1.4.12) and the problem seems to be fixed now. Sorry for the noise and thank you for your help!

[2019-11-23 04:00] josegonzalez commented on #136
This should have been fixed in https://github.com/dokku/dokku-redis/commit/28ff40a507afd43aac96be100cdb2e71208686c4 (and related commits for each service plugin). Example output:

[code]

[2019-11-23 04:00] #136 closed

[2019-11-23 04:01] #121 closed

[2019-11-28 11:07] OmarAbdo commented on #110
having the same issue over here

[2019-11-28 11:57] josegonzalez commented on #110
@OmarAbdo what is the exact error you are seeing?

The original user had this error because they weren't actually using the `REDIS_URL` - likely because `NODE_ENV` was somehow not set to production.

[2019-11-29 11:43] OmarAbdo commented on #110
the error was failed to connect to port 6379 on my windows machine. Anyway I solved the issue by using a Redis docker image and it worked perfectly after then

[2019-12-10 00:12] Friss opened #143 "Ability to set export/backup dir"
Currently the directory for a backup uses `mktemp` which usually means it will end up in `/tmp`.

I ran into an issue where I couldn't export my database because my `/tmp` directory is on a smaller disk while my DB runs on a much larger disk.

So if I could set my own directory I can route the backups somewhere else that won't run out of room.

[2019-12-10 02:05] Friss commented on #143
I actually just learned that you can pass `--tmpdir` to `mktemp` and it will automatically look for `$TMPDIR` otherwise default to `/tmp`.

[2019-12-10 02:07] josegonzalez commented on #143
At least on a mac:

[code]

[2019-12-10 02:11] Friss commented on #143
Ah I was looking at https://www.gnu.org/software/autogen/mktemp.html (and tested on a ubuntu machine which worked)

[2019-12-10 02:16] josegonzalez commented on #143
Still says deprecated though.

[2020-01-17 14:29] markjackson02 opened #145 "Support for multiple backup schedules per service"
I would like to set up multiple backups, for example:

- 15 minute backups to Bucket A
- Daily backups to Bucket B
- Monthly backups to Bucket C

So that I can utilize S3 Storage Classes effectively with lifecycle rules.

Currently when setting `dokku postgres:backup-schedule` it only supports one scheduled backup rule at a time, so I have to choose either A, B, or C above. It would be awesome if

[2020-01-17 14:29] josegonzalez commented on #145
@markjackson02 What would the ux be for the commands in this case?

[2020-01-17 15:31] markjackson02 commented on #145
@josegonzalez was this issue accidentally moved into `dokku-redis` repo from `dokku-postgres`?

In any case, I was thinking the `schedule` command would remain the same, underneath adding an ID to the job. `schedule-cat` would show all jobs and their IDs for the given service. And lastly `unschedule`
would additionally take in the ID of the job to be unscheduled.

[2020-01-17 15:39] josegonzalez commented on #145
I purposefully moved it because the redis repo is where I track issues that impact all datastores.

[2020-01-20 18:10] Tienisto opened #146 "add mariadb:clean"
It would be nice if you guys add `mariadb:clean` which drops all tables but keeps all the linked applications.

[2020-03-10 15:16] josegonzalez commented on #119
Duplicate of #86

[2020-03-10 15:16] #119 closed

[2020-03-24 15:31] benwhalley opened #148 "Document backup to digitalocean spaces and other s3 compatible services"
There is a brief mention of minio in the readme, but I'm not clear it's possible to use Digital Ocean (DO) spaces or other s3 compatible hosts right now. Having tried various combinations it seems like "s3://" is hardcoded somewhere - is that right? If it's possible to use DO then it would be  cool to document that.

[2020-03-24 16:05] decentral1se commented on #64
:tada: :tada: :tada:

[2020-04-22 14:15] sjayesh commented on #20
@josegonzalez I am getting following error when running git push dokku master

remote: docker: Error response from daemon: could not get container for dokku.postgres.db: No such container: dokku.postgres.db

Please help me with this.

[2020-04-22 14:40] josegonzalez commented on #20
@sjayesh please file a brand new issue (in the postgres repo) with all the info we ask for.

[2020-04-29 15:30] jbothma opened #149 "MAILTO for backup cron errors"
#  Description of problem

If an error occurs when the backup cron job runs, I would like to be informed so that I know backups are not working.

## Expected Results

It would be nice to be able to set the MAILTO variable in the cron job so that error output from the job gets mailed to that email address if a message transfer agent (MTA) is configured on the system.

Right now, this creates a cron

[2020-05-01 07:07] skojin opened #150 "Dash in name prevent export"
I have create database with dash-in-name, like my-db

App connect successfully and works, but when I tried to backup, it give error
[code]
Database connection URL ```postgres://postgres:XXXXXX@dokku-postgres-points-nearby:5432/points_nearby``` shows that problem that database name actually is _ underscored

dokku-postgres plugin version is 1.8.1

[2020-05-01 17:41] josegonzalez commented on #150
Definitely a bug. Pull requests welcome :)

[2020-05-15 04:57] josegonzalez commented on #143
Implemented in 1.12.5 of this plugin.

[2020-05-15 04:57] #143 closed

[2020-06-09 05:16] Alir3z4 commented on #64
Could postgresql container memory limit get included in that list ?

Ref https://github.com/dokku/dokku-postgres/pull/188

[2020-06-13 09:54] znz opened #194 "backup-auth creates files with insecure permission"

[2020-08-17 20:04] petebytes opened #152 "Provide the ability generate logs from backup-schedule jobs"
# feature request
Provide the ability to view logs generated from backup-schedule jobs

## Description of problem
No logs generated from backup-schedule command make it difficult to troubleshoot and monitor.

[2020-10-01 18:11] itstheandre opened #153 "Issue by trying to re-expose a database [postgres]"
## Description of problem
I was trying to unexpose my database, and then after i tried to `re expose it` and got an issue about a container already in use.

### How reproducible
After deleting said container everything was running again

### Steps to Reproduce

1. dokku postgres:expose {db-name} 5432
2. dokku postgres:unexpose {db-name}
3. dokku postgres:expose {db-name} 5432

#### Actual Results

[2020-10-09 21:44] josegonzalez opened #154 "Add support for pre-start hook to ensure service is running before new containers start"
The pre-start hook should start linked services for the app. If any service fails to start, it should return an error for the user to debug.

[2020-10-17 21:56] alimony opened #155 "Generated DSN is unusable in Redis 6.0"
## Description of problem

### How reproducible

When I create a Redis service using Redis 6.0 the generated DSN cannot be used as is, I get a `WRONGPASS invalid username-password pair` error even when plugging it directly into the Redis console. I get something like this back after creating the service:

`redis://myapp-redis:12345@dokku-redis-myapp-redis:6379`

Plugging the auth part into Redis:

[2020-10-29 14:27] iamgoodbytes opened #156 "dokku mysql:create mysql may not do what a users expects"
## Description of problem
`dokku mysql:create mysql` creates a service, but also a database `mysql` with a bunch of tables in them

<img width="373" alt="screenshot_2020-10-29_at_12 22 07" src="https://user-images.githubusercontent.com/3899360/97577242-74a85880-19ef-11eb-9b57-2a8b85cbcd46.png">

### Steps to Reproduce

`dokku mysql:create mysql`

It may be a good idea to warn users that using the

[2020-11-21 19:47] gyfis commented on #155
I encountered a similar issue, where the [redis-rs](https://github.com/mitsuhiko/redis-rs) Rust crate always sends the username to the AUTH command, even for Redis versions 5 and lower, leading to invalid AUTH when using dokku-redis.

I believe the username should never be set in the URL for the dokku redis plugin (it's not the username anyway), which _sounds_ like an easy change; I'll try to subm

[2021-01-13 03:10] luizpicolo opened #168 "postgres:start --all"
When restarting my server, all postgres databases do not start.  For this reason, i have to start each one.
There is some similar command, like `postgres:start --all`, for initialization all databases?

[2021-02-03 02:49] #155 closed

[2021-02-24 10:03] paulbraam opened #158 "My app doesn't connect to Redis"
Hi,

I'm experiencing a connection issue with dokku.

I installed `dokku` with no issues as well as setup `dokku-redis`, created a redis server and linked it to my app as provided in the instructions.

However, I get these error messages when I'm starting my app:

[code]

I use `bull` and I don't have to declare `REDIS_URL`.
I pinged the redis server and it responds successfully.
It looks like the

[2021-02-24 10:07] josegonzalez commented on #158
I don't know what `bull` is but you need to respect the REDIS_URL environment variable when connecting to redis from within your app. In your code output there, its not connecting to the service at all, just using localhost instead, which is incorrect.

[2021-02-24 14:26] paulbraam commented on #158
Thank you @josegonzalez for the quick answer.
I'll try to set the REDIS_URL inside of my app.

[2021-07-13 08:17] baptisteArno opened #165 "FATAL CONFIG FILE ERROR: Bad directive or wrong number of arguments"
When creating a redis service with this command:

[code]

It won't connect and when displaying the logs it says:

[code]

[2021-07-13 18:51] josegonzalez commented on #165
That is caused by this: https://github.com/dokku/dokku-redis/blob/master/functions#L50

You'll need to download the correct redis config file and set `REDIS_CONFIG_PATH` to the path on disk to it before creating the redis install if you want to use an alternative image.

Is there a reason the default image is not good?

[2021-07-14 08:46] baptisteArno commented on #165
Thank you for the clarification!

I want to deploy [PostHog](https://github.com/PostHog/posthog) on Dokku so I'm referring to their `docker-compose` and it uses the `6-alpine` image. But I guess the default will still work so I'm going to try this out 👍

[2021-07-14 22:17] #165 closed

[2021-08-09 17:41] diegoponciano opened #167 "Database configuration - command line arguments"
## Description of problem

The postgres docker image allows us to create and run a containers passing configurations thru command line arguments.
Example commands:

[code]
Can we do that on using this plugin? Instead of editing `postgresql.conf` directly.

[2021-08-31 21:21] benyou1969 commented on #158
Hello @paulbraam have you found a solution?

[2021-08-31 21:41] paulbraam commented on #158
Yes, I have
As far as I remember, I should have provided the Redis Url specified in the container instead of using the standard 127.0.0.1:6379

[2021-08-31 21:53] #158 closed

[2021-09-12 11:40] josegonzalez commented on #119
You can specify the ip to bind on when running expose:

[code]

No need for anything new. This is now also documented in the readme.

[2021-09-12 11:44] josegonzalez commented on #86
I think the most important thing folks want is to set the memory. I've made this possible in every service. While it's not editable yet, we'll be doing that once we transition all settings to the property system.

[2021-09-12 11:44] #86 closed

[2021-09-12 11:48] josegonzalez commented on #140
Backup restoration was documented in the following commits:

- https://github.com/dokku/dokku-redis/commit/17a640e76498555b7750fc6257f4c0d0d2d96a01
- https://github.com/dokku/dokku-redis/commit/3aed82c9d723c62506fc45bdd5162dd321b98c7f

You'll need to download your backup (`curl` or `wget` both work and should be installed).

We won't be exposing a simple command to restore the backup at this time.

[2021-09-12 11:48] #140 closed

[2021-09-12 11:59] josegonzalez commented on #120
Backup restoration was documented in the following commits (and done so for all other plugins as well):

- https://github.com/dokku/dokku-redis/commit/17a640e76498555b7750fc6257f4c0d0d2d96a01
- https://github.com/dokku/dokku-redis/commit/3aed82c9d723c62506fc45bdd5162dd321b98c7f

You'll need to download your backup (`curl` or `wget` both work and should be installed).

[2021-09-12 11:59] #120 closed

[2021-09-12 11:59] josegonzalez commented on #100
Backup restoration was documented in the following commits (and done so for all other plugins as well):

- https://github.com/dokku/dokku-redis/commit/17a640e76498555b7750fc6257f4c0d0d2d96a01
- https://github.com/dokku/dokku-redis/commit/3aed82c9d723c62506fc45bdd5162dd321b98c7f

You'll need to download your backup (`curl` or `wget` both work and should be installed).

[2021-09-12 11:59] #100 closed

[2021-09-12 12:00] josegonzalez commented on #84
There is now a `service-action` trigger that gets called for certain actions. Feel free to open a new issue if this is not sufficient.

[2021-09-12 12:00] #84 closed

[2021-09-12 12:30] josegonzalez commented on #68
I'm going to close this. I'd hope now that Redis has had auth for years that most/all tools now support auth.

[2021-09-12 12:30] #68 closed

[2021-09-13 02:27] josegonzalez commented on #167
This should be completed as of https://github.com/dokku/dokku-redis/commit/720ddea579a069ff55e89e66dd8c6ebfb0303b24, which will be released in 1.16.x of this plugin.

[2021-09-13 02:27] #167 closed

[2021-09-13 07:41] josegonzalez commented on #150
Seems to work now (as of dokku-postgres@1.14.0):

[code]

Going to assume this was caused by a database that doesn't have the correct value at `$SERVICE_ROOT/DATABASE_NAME`. You can manually overwrite that file with the proper database name and it should start working.

[2021-09-13 07:41] #150 closed

[2021-09-13 08:27] #142 closed

[2021-09-13 08:29] josegonzalez commented on #154
Duplicate of #138.

[2021-09-13 08:29] #154 closed

[2021-09-13 08:31] josegonzalez commented on #137
For anyone that lands on this issue, the correct fix is to do write the correct database name into the `DATABASE_NAME` file in the service root (you can get that from `$SERVICE:info`).

Rather than expose the internals in a potentially dangerous way (folks will assume it will rename the database, which you can't...), we'll close this for now as this issue is a bit old so it shouldn't impact most o

[2021-09-13 08:31] #137 closed

[2021-09-13 08:32] josegonzalez commented on #137
If you're still seeing this issue, feel free to comment or open a new ticket and I'll reconsider.

[2021-09-13 08:32] josegonzalez commented on #135
Likely something cleaned up those old containers. That said, we have issue #138 to resolve this.

[2021-09-13 08:32] #135 closed

[2021-09-13 08:45] josegonzalez commented on #168
I think the correct fix here is actually to implement the `pre-start` hook as mentioned in #138.

[2021-09-13 08:45] #168 closed

[2021-09-13 09:01] josegonzalez commented on #138
We'll need a new hook - maybe `builder-build-pre $BUILDER_TYPE $APP` ? - that we can use to start linked services prior to deploy. There isn't a global one, so if we did this hook by hook (`pre-build-dockerfile`, `pre-build-herokuish`, `pre-build-pack`) then we wouldn't support newer build methods as time goes on. Additionally, adding a new hook each time would be annoying.

That said, this should

[2021-10-18 15:00] laukaichung opened #200 "Failed to expose service when an ambassador container already exists"
I have issues exposing the elasticsearch container on a remote server.

Here are the commands:

[code]

The expose command produces this error:
[code]

Still I try to run this command on my local machine to access the server using an ssh tunnel:
[code]
But the site `http://127.0.0.1:9200/` still cannot be reached. I use similar methods to expose postgres and redis and they all work. No luck with e

[2021-11-17 14:57] nicolas-brousse opened #170 "REDIS_URL contains username but user not set in redis instance"
## Description of problem

I recently see the following warning on a Rails application hosted in one of our dokku servers.

`The Redis connection was configured with username "typofonderie-staging_worker", but the provided password was for the default user. This will start failing in redis-rb 4.6.`

### How reproducible

Having a rails application that use `redis` `4.5.1+` gem. And use `REDIS_URL`

[2021-11-17 15:30] josegonzalez commented on #170
Can you include *all* of the information we ask for in our [issue template](https://github.com/dokku/dokku/blob/master/ISSUE_TEMPLATE.md)? It is helpful for debugging problems. Thanks.

---

Please don't do this in the future. I'm not asking for this information for my health, it is quite literally to debug your issue.

By way of example, we don't [currently set a user](https://github.com/dokku/do

[2021-11-17 15:36] nicolas-brousse commented on #170
Ok sorry. I'll take care of this on my future issues.

Sorry also to haven't found the issue you linked here, I did some search but not enough.

Thank you for your response and your time. I'll close this issue.

[2021-11-17 15:36] #170 closed

[2021-11-17 15:37] josegonzalez commented on #170
BTW, I believe your fix is to update the dokku-redis plugin and unlink/relink the redis datastore (which may require a dance of some sort depending on what your app uses it for).

[2021-11-17 15:40] nicolas-brousse commented on #170
Yes. Thank you for this precision. It's what I'll do on our applications. I didn't notice this change on the plugin.

[2021-11-30 20:53] xrd opened #171 "When using backup and restore, if docker images don't exist on the new server, the "dokku ps:rebuild --all" command will fail"
## Description of problem

I followed the backup and restore options to move my dokku installation to a new server. When I attempted to `dokku rebuild:all` it failed because the docker images are not yet on the new server.

### How reproducible

I only tried once, but I believe this is something that will happen with every new server.

### Steps to Reproduce

1. create a backup (https://dokku.com/

[2021-11-30 20:53] josegonzalez commented on #171
Moved to a datastore plugin as the fix is to have the datastores try and start before the apps start and bail appropriately there.

[2021-12-06 16:13] iandees commented on #171
I ran into this after having to delete all my images during a Docker update (ran into [this problem with aufs](https://askubuntu.com/questions/1361206/docker-upgrade-failure-the-aufs-storage-driver-is-no-longer-supported)). Pulling the redis or postgres image doesn't seem to help.

[2021-12-10 03:18] iandees opened #193 "postgres:upgrade doesn't appear to respect flags"
## Description of problem

I tried to postgres:upgrade to a specific image that contains PostGIS, but it didn't seem to work. [Here's](https://gist.github.com/iandees/79cc6a94e7a84a1bbccfcd510961d4dd) the trace when it happened.

This seems to be related to whether the image has been pulled or not. I don't have a reliable way of reproducing it, though. I was working on this with @josegonzalez and

[2021-12-21 16:53] ygorpinto opened #172 "logs with -t are not working properly ❓"
When I try to view the logs using -t (tail) it just ignores the command and logs information from the start of the application.
Is it normal?

[2021-12-21 18:09] josegonzalez commented on #172
Can you include *all* of the information we ask for in our [issue template](https://github.com/dokku/dokku/blob/master/ISSUE_TEMPLATE.md)? It is helpful for debugging problems. Thanks.

[2021-12-22 16:38] ygorpinto commented on #172
@josegonzalez Sorry!
**How reproducible**
Steps to Reproduce
1 - just type **dokku redis:logs app_name -t 100**
2 - i just wanna know that the "-t" works on dokku redis, giving me just 100 lines in the log?

[2022-01-15 09:46] aggy-k opened #173 "dokku redis:create ERROR: unable to connect"
## Description of problem
Hello, I'm following this guideline to install dokku on a docker container: https://dokku.com/docs/getting-started/install/docker/
Redis (and other plugins, i.e. postgres) have been installed, but I'm having issues trying to create new redis service.

### Steps
I was setting up my app for the first try of push, went inside the dokku's container (docker exec -it dokku bash

[2022-01-18 06:16] josegonzalez commented on #173
I'm unable to duplicate this:

[code]

@aggy-k are you also running redis within a container? All the datastore plugins have an additional `${DATASTORE}_HOST_ROOT` - so `REDIS_HOST_ROOT` for redis - env var that must be set to a path on the host that is mounted. It defaults to `/var/lib/dokku/services/redis`, which must somehow be mounted into the container as well for the plugin to work.

[2022-01-18 09:48] vnorbix commented on #173
I created an issue, I think it's related to Dokku running as a container.

[2022-01-22 09:35] josegonzalez opened #175 "Add :pause subcommand and make :stop subcommand actually remove the container"
Refs dokku/dokku-rabbitmq#31

[2022-01-22 09:37] josegonzalez commented on #172
That executes a command like:

[code]

Which is the correct command (you can verify this by checking the command output after running `--trace`).

It's possible that you have a buggy version, but since you didn't add the dokku report output we asked for, I can't debug.

Hope the above helps.

[2022-01-22 09:37] #172 closed

[2022-01-22 22:44] ZaherSamirr opened #176 "~/.ssh/ $ make hello ~/.ssh/ $ /hello bash: /hello: No such file or directory ~/.ssh/ $ i am new in programing and i face this problem can anyone help me?"
## Description of problem

### How reproducible

### Steps to Reproduce

1.
2.
3.

#### Actual Results

#### Expected Results

## Environment Information

### `dokku report APP_NAME` output

### How (deb/make/rpm) and where (AWS, VirtualBox, physical, etc.) was Dokku installed?:

### Additional information

- App container inspect output (if applicable) via `dokku ps:inspect APP_NAME`
- The nginx

[2022-01-22 22:58] josegonzalez commented on #176
Does this have anything to do with Dokku? I don't think we have any such `hello` command anywhere in the codebase...

[2022-01-22 22:58] #176 closed

[2022-01-30 10:29] aggy-k commented on #173
@josegonzalez apology for the late reply. I run the dokku redis:create from the dokku container, if that's the question.
Thank you @vnorbix -- I will test your work-around

[2022-01-30 10:29] #173 closed

[2022-07-01 08:14] gleniat opened #192 "Feature request: add --no-restart option"
## Description of problem
It would be nice to have an option for not restarting the app in `dokku postgres` commands.
The `--no-restart` argument to prevent restarting the app is currently available to many base dokku commands.

### Example
`dokku postgres:link mydb my-app --no-restart`

#### Expected Results
[code]

#### Actual Results
`--no-restart` option is currently not recognised.

[code]

[2022-07-10 19:25] josegonzalez commented on #84
Update: the service-action trigger was insufficient as implemented and did not point out which service type was being manipulated. This should now correspond to the plugin prefix (so couchdb or graphite) as the first argument.

Anyone implementing the service-action trigger should take this into account going forward (it's a breaking change, but hopefully not too many users are impacted).

[2022-09-13 12:46] turicas opened #189 "Should not proceed if invalid parameter is passed"

[2022-10-12 22:01] AdrianPop opened #239 "Allow direct port expose of MySQL"
## Description of problem
I have a small app which needs to have the DB on a different host than the code. Due to this, I've installed `dokku-mysql` on host A and the backend app on host B.
The problem is with the `expose` command which is done through ambassador or `socat`. This is painfully slow. I mean a page which would load in 300ms, loads in 4-5s if using `expose`.

Due to this I've searched

[2022-10-21 22:10] maciejopalinski opened #185 "missing `redis.conf` causing redis container crash"
## Description of problem

`redis.conf` is not created in container config directory
container crashes because it has no `redis.conf`

`redis.conf` is downloaded to `/var/lib/dokku/services/redis/test/config/` in dokku container, but not getting copied to `/mnt/dokku/services/redis/test/config/` (that is mounted to host) causing the sibling container to not find `redis.conf` and crash

### Steps t

[2022-10-21 23:34] PoProstuMieciek commented on #185
@josegonzalez can you verify that the issue is also occurring for you?

[2022-11-10 00:01] devakrishna33-fcfc commented on #185
Same thing is happening for me, any resolutions for this?

[2022-11-10 00:02] josegonzalez commented on #185
I believe setting `REDIS_HOST_ROOT=/mnt/dokku/services/redis` in the `dokku` container env vars should fix this.

[2022-11-10 07:45] PoProstuMieciek commented on #185
This does not solve the issue.

[2022-11-21 09:22] iphoting opened #191 "Add ability to set network properties"
## Description of problem
I have a dokku-specific bridge network (created by docker-compose) and have configured all spawned containers to be on this network by using the following Dokku config parameter:

[code]

As it turns out, service containers spawned by this plugin (and potentially others as well) do not follow the above configuration parameter. Linked app containers will not be able to con

[2022-11-24 07:00] PoProstuMieciek commented on #185
@josegonzalez This does not solve the issue.